<section
  *ngIf="cartData != null; else noCartData"
  class="bg-main-light p-4 my-4 w-75 mx-auto rounded shadow cart-area ng-star-inserted"
>
  <h1 class="text-center h3">Shop Cart</h1>
  <button
    (click)="clearCartProducts()"
    class="btn btn-outline-danger btn-sm d-block ms-auto"
  >
    <i class="fas fa-trash"></i> Clear Cart
  </button>
  <div
    class="row g-4 align-items-center ng-star-inserted"
    *ngFor="let product of cartData.data.products"
  >
    <div class="col-md-9">
      <div class="row item align-items-center">
        <div class="col-md-3">
          <img
            class="w-100"
            [src]="product.product.imageCover"
            alt="Woman Shawl"
          />
        </div>
        <div class="col-md-9 item-details my-2">
          <h3 class="h6 small">{{ product.product.title }}</h3>
          <span class="text-main">Price: {{ product.price }}</span
          ><button
            (click)="deleteProduct(product.product._id)"
            class="btn btn-danger p-2 btn-remove d-block text-light my-3"
          >
            <i class="fas fa-trash me-2 text-light"></i><span>Remove</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="hstack gap-3 justify-content-end">
        <button
          (click)="updateQuantity(product.product._id, product.count + 1)"
          class="btn-count py-1 px-2"
        >
          +
        </button>
        <span> {{ product.count }}</span>
        <button
          (click)="updateQuantity(product.product._id, product.count - 1)"
          class="btn btn-outline-danger m-0 p-0 py-1 px-2"
        >
          -
        </button>
      </div>
    </div>
    <hr class="my-3" />
  </div>
  <span class="text-main mb-3"
    >Total Price: {{ cartData.data.totalCartPrice }}
  </span>
  <button
    [routerLink]="['/checkout',cartData.data._id]"
    class="main-btn py-0 d-block my-3"
    tabindex="0"
  >
    Online Payment
    <img src="assets/visa-1.svg" alt="visa card" />
  </button>
</section>

<ng-template #noCartData>
  <div class="container m-auto my-4">
    <div class="emptycart-img d-flex justify-content-center">
      <img src="assets/preview-removebg-preview.png" alt="" />
    </div>
    <div class="content text-center">
      <h3 class="fw-bold">Your Cart Is Empty</h3>
      <p>
        Looks like you have not added anyhing to you tar. Go ahead a explore top
        categories
      </p>
      <button class="main-btn px-3 py-2" routerLink="/home">
        <i class="fa-solid fa-cart-shopping"></i>
        Return To Shop
      </button>
    </div>
  </div>
</ng-template>
